@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Open+Sans:wght@400;500;700&family=PT+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.family{
  font-family: 'Fascinate', cursive;

}

.textbtn{
  font-family: Arial Helvetica, sans-serif;
}
.bgimage{
background-image: url('./image/batman2.jpg');
}

.bgimage1{
  background-image: url('./image/blue (1).jpeg');
  }

  .search-img{
    background-image: url('./image/lightyear.jpeg');
    width: 80%;
   background-position: center;
 border-radius: 20px;
    height:250px;
    margin: auto;
    
   
    
    }
    .pagination-bar {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .pagination-container {
      display: flex;
      list-style-type: none;
      margin-top: 20px;
    }
    
      .pagination-item {
        padding: 0 12px;
        height: 32px;
        text-align: center;
        margin: auto 4px;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        box-sizing: border-box;
        align-items: center;
        letter-spacing: 0.01071em;
        border-radius: 16px;
        line-height: 1.43;
        font-size: 16px;
        min-width: 32px;
        
      }

      .dots{
       color: #000;
      }
        .dots:hover {
          background-color: transparent;
          cursor: default;
        }
        :hover {
         
          cursor: pointer;
        }
    
        .selected {
          color: white;
          background-color: royalblue
        }
       

        .pagination-item:hover{
         
          background-color: rgba(0, 0, 0, 0.047);
        }
    
        
          .arrow.left {
            /* transform: rotate(-135deg) translate(-50%); */
            color: black;
            font-size: 13px;
            font-weight: 900;
          }
    
          .arrow.right {
            /* transform: rotate(45deg); */
            color: black;
            font-size: 18px;
            font-size: 13px;
            font-weight: 500;
            
          }
        
    
        .disabled {
          pointer-events: none;
        }
          .arrow::before {
            
            border-right: 0.12em solid rgba(0, 0, 0, 0.43);
            border-top: 0.12em solid rgba(0, 0, 0, 0.43);
          }
    
        
        .arrow:hover {
            background-color: transparent;
            cursor: default;
          }
        .detail-border{
          border-bottom: 1px solid rgb(199, 194, 194);
          width: 450px;
          margin-top: 10px;
          padding-bottom: 12px;
          color: #252525e2; 
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 19px;
          font-weight: 200;
          font-weight: 100;
        }

    .progress-bar{
      animation: progress-animation 3s forwards ;
    }
        @keyframes progress-animation{
          0% {width: 0%;}
          100% {width: 100%;}
        }
      .genres{
        display: flex;
       
      }

      .search-text {
        font-family: 'Open Sans', sans-serif;
        Color:#444444;
        font-size:24px;
       margin-left: 42%;
      }

      .text-show{
        font-family: 'Open Sans', sans-serif;
        font-size: 50px; 
        Color:#0365f4;
        font-weight: 200;
        letter-spacing: -2px;
        
      }
      .join{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 32px;
        width: 480px;
       
      }
    
      /* image zoom css */

      .img-hover-zoom {
        height: 300px; /* Modify this according to your need */
        overflow: hidden; /* Removing this will break the effects */
      }

      .img-hover-zoom img {
        transition: transform .5s ease;
       width:100% ;
       height: 100%;
      }

      .img-hover-zoom:hover img {
        transform: scale(1.2);
      }
    
      .text-cards{
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
      }
      .footer-list{
        border-top: 1px solid white;
      }
      .footer-list-item li{
       padding-right: 15px;
       font-size: 16px;
       color: #ffffff;
       font-family: 'Open Sans', sans-serif;
       font-weight: 500;
        
      }

      .footer-movie{
        font-family: 'Fascinate', cursive;
        
      }
      .btn{
       
      }

      .btn1{
        border: 2px solid rgba(47, 47, 255, 0.708);
        color: #0365f4;
        border-radius: 50px;
        padding:0 10px;
        font-size: 13px;
        margin-right: 9px;
       
      }
      .btn2{
        border: 2px solid #0000ff;
        color: #0000ff;
        border-radius: 50px;
        padding:0 10px;
        font-size: 13px;
        margin-right: 9px;
      }
      .btn3{
        border: 2px solid #c4c414;
        color: #c4c414;
        border-radius: 50px;
        padding:0 10px;
        font-size: 13px;
        margin-right: 9px;
      }
      .btn4{
        border: 2px solid #adff2f;
        color: #adff2f;
        border-radius: 50px;
        padding:0 10px;
        font-size: 13px;
        margin-right: 9px;
      }
      .btn5{
        border: 2px solid #ffd700;
        color: #ffd700;
        border-radius: 50px;
        padding:0 10px;
        font-size: 13px;
        margin-right:9px;
      }
      .btn6{
        border: 2px solid #008000;
        color: #008000;
        border-radius: 50px;
        padding:0 10px;
        font-size: 13px;
        margin-right: 9px;
        
      }